/*BEM it up!

/*Customizing the Audio Controls*/

audio::-internal-media-controls-download-button {
    display: none;
}

audio::-webkit-media-controls-enclosure {
    overflow: hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 14em);
    /* Adjust as needed */
}

.banner-top {
    text-align: center
}

#btn-border {
    border: solid 6px #ccc;
    -moz-border-radius-topleft: 21px;
    -moz-border-radius-topright: 21px;
    -moz-border-radius-bottomleft: 21px;
    -moz-border-radius-bottomright: 21px;
    -webkit-border-top-left-radius: 21px;
    -webkit-border-top-right-radius: 21px;
    -webkit-border-bottom-left-radius: 21px;
    -webkit-border-bottom-right-radius: 21px;
    border-top-left-radius: 40px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 79px;
}

.button_padding {
    padding-bottom: 2px;
}

.button_song--remove {
    background-color: #d9534f;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    padding: 14px
}

.button_song--remove:hover {
    background-color: #c12e2a;
}
